{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="btn btn-primary w-100 py-2">
		  <p class="m-auto p-2">
			Wysłaliśmy Ci e-mailem instrukcje dotyczące ustawiania hasła, jeśli istnieje konto z podanym adresem e-mail.
			Powinieneś je wkrótce otrzymać.
		  </p>
		  <p class="m-auto p-2">
			Jeśli nie otrzymasz wiadomości e-mail, upewnij się, że wpisałeś adres, na który się zarejestrowałeś,
			i sprawdź folder ze spamem.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Wróć na główną stronę.</a></p>
	</div>
</div>

{% endblock %}